@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<div class="container glass-style lightGlass mt-2 m-2 mb-4 p-2">
    <div class="row">
        <div class="col">
            <h1>Manage your account</h1>

            <div>
                <h4>Change your account settings</h4>
                <hr />
                <div class="row">
                    <div class="col-md-3">
                        <partial name="_ManageNav" />
                    </div>
                    <div class="col-md-9 animate__animated animate__fadeIn">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    @RenderSection("Scripts", required: false)
}
