@model MVCAddressBook.Models.Category

@{
    ViewData["Title"] = "Create";
}

<div class="container glass-style lightGlass mt-2 m-2 p-4">


        <div class="row">
            <div class="col-12">
                <h1 class="animate__animated animate__fadeIn">Create A New Category</h1>
                <hr />
            </div>
        </div>


        <form asp-action="Create">
            <div class="row">
                <div class="col-12">


                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <h5>New Category Name</h5>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    


                </div>
            </div>

            <div class="row">
                <div class="col-12 d-flex justify-content-end">

                    <div class="m-1">
                        <a asp-action="Index" class="btn btn-dark">Back</a>
                    </div>

                    <div class="form-group m-1">
                        <input type="submit" value="Create" class="btn btn-success" />
                    </div>

                </div>
            </div>
        </form>



</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
