@model IEnumerable<MVCAddressBook.Models.Category>

@{
    ViewData["Title"] = "Index";
}



<div class="container mt-1">
    <div class="glass-style lightGlass p-4 mt-5">
        <div class="row">
            <h1>Your Categories</h1>
            <hr />
            <p>
                <a asp-action="Create" class="btn btn-success">Create New</a>
            </p>
            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>                            
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                
                                <td>
                                    
                                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


    

        
        
