@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<div class="container glass-style lightGlass animate__animated animate__pulse mt-2 m-2 mb-4 p-2">
    <div class="row">
        <div class="col">
            <h1>Email confirmed!</h1>
            <p>
                Your email has been verified. You may now log into your account.
            </p>
        </div>
    </div>
</div>