@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}



<div class="container glass-style lightGlass animate__animated animate__pulse mt-2 m-2 mb-4 p-2">
    <div class="row">
        <div class="col">
            <h1>@ViewData["Title"]</h1>
            <p>
                Please check your email to reset your password.
            </p>
        </div>
    </div>
</div>