@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<div class="container glass-style lightGlass animate__animated animate__pulse mt-2 m-2 mb-4 p-2">
    <div class="row">
        <div class="col">
            <h1>Confirmation Required</h1>
            <p>
                Please check your email to confirm you account.
            </p>
        </div>
    </div>
</div>