@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}



<div class="container glass-style lightGlass animate__animated animate__pulse mt-2 m-2 mb-4 p-2">
    <div class="row">
        <div class="col">
            <h1>@ViewData["Title"]</h1>
            <p>
                Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.
            </p>
        </div>
    </div>
</div>